<ul>
						
						<li><a href='/User/Index'><span>Users</span></a></li>
						
						<li class='has-sub'><a href='/Department/Index'><span>Departments</span></a></li>

                        <li class='has-sub'><a href='/Designation/Index'><span>Designations</span></a></li>
						
						<li class='has-sub'><a href='/Project/Index'><span>Projects</span></a></li>
						
						<li class='last'><a href='/User/Login'><span>Logout</span></a></li>
					
					</ul>