<ul>
			
						<li><a href='/Task/UserTasks'><span>Tasks</span></a></li>
			
						<li class='has-sub'><a href='/User/MyProfile'><span>My Profile</span></a></li>
			
						<li class='last'><a href='/User/Login'><span>Logout</span></a></li>
				
					</ul>